<!DOCTYPE html>
<html>
<head>
    <title>User Registration Form</title>
   
</head>
<body>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container-fluid">
                
        <a class="navbar-brand" href="/list">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/list">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/insert_user">Register Complane</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/insert_user">Ragister Complane</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
     <div class="text-center line form-divider input-group" style="width: 700px;;
     border: thin palevioletred;
     padding: 10px  75px ;
     margin-left: 500px;">
     
        <form method="post"  id="addon-wrapping" class="login-form" >
            {% csrf_token %}

          
            {{complainform.as_p}}
          
            <button type="submit">Submit</button>
        </form>
     </div>
     
   
   
</body>
</html>
